<h2>Results index</h2>

<table class="table table-hover table-inverse">
 <% if @range == "User" %>
 <tbody>
  <% @users.each do |user| %>
   <tr>
    <td><%= link_to user_path(user) do %>
     <%= user.nickname %>
     <% end %>
     </td>
   </tr>
  <% end %>
 </tbody>
 <% else %>
  <tbody>
   <% @todoposts.each do |todopost| %>
   <tr>
    <td><%= link_to to_do_post_path(todopost) do %>
     <%= todopost.title %></td>
    <% end %>
    <td><%= todopost.description %></td>
   </tr>
  <% end %>
  </tbody>
 <% end %>
</table>
