<div class="container">
  <h2 class="px-3 mx-auto">
    <strong>新規会員登録</strong>
  </h2>

  <div class="row">
    <%= form_with model: @user, url:user_registration_path, id:'new_user', class:'new_user' do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-group">
    <table class="table  table-borderless">
      <tbody>
        <th class="row">名前</th>
        <td><%= "(姓)" %>
        <%= f.text_field :last_name, autofocus:true, id:"inputName", placeholder:"令和" %>
        <%= "(名)" %>
        <%= f.text_field :first_name, autofocus:true, id:"inputName", placeholder:"道子" %>
        </td>
        <td class="note">&nbsp;</td>
      </tbody>

      <tbody>
        <th class="row">フリガナ</th>
          <td><%="(セイ)" %>
          <%= f.text_field :last_name_kana, autofocus:true, id:"inputName_kana", placeholder:"レイワ" %>
          <%= "(メイ)" %>
          <%= f.text_field :first_name_kana, autofocus:true, id:"inputName_kana", placeholder:"ミチコ" %>
          </td>
      </tbody>

      <tbody>
        <th class="row">ニックネーム</th>
        <td><%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
        </td>
      </tbody>

      <tbody>
        <th class="row">目標</th>
        <td><%= f.text_field :purpose, autofocus: true, autocomplete: "purpose" %>
        </td>
      </tbody>

      <tbody>
        <th class="row">自己紹介</th>
        <td><%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
        </td>
      </tbody>

      <tbody>
        <th class="row">メールアドレス</th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </td>
      </tbody>

      <tbody>
        <th><%= f.label :"パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <td>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </td>
      </tbody>

      <tbody>
        <th>
          <%= f.label :"パスワード(確認用)" %><br />
        </th>
        <td>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </td>
      </tbody>
    </table>

    <div class="form-group">
      <%= f.submit "新規登録", class:'btn btn-success'; %>
    </div>
    <% end %>
  </div>
  </div>

  <h5>既に登録済みの方</h5>
  <div class="row">
    <%= link_to "こちら", new_user_session_path %>
    <%= "からログインしてください" %>
  </div>
</div>

<!--%= render "public/shared/links" %>-->
