<h2>投稿一覧</h2>
<% @todoposts.each do |to_do_post| %>
<div class="group">
 <label for="title">Title</label>
 <%= link_to to_do_post.title, public_to_do_post_path(to_do_post.id) %>
 <%= link_to"サブタスクを追加する", new_public_to_do_post_list_path(to_do_post.id) %>
</div>
<div class="group">
 <%= to_do_post.description %>
</div>
<div class="group">
 <label for="start_date">START</label>
 <%= to_do_post.start_date %>
</div>
<div class="group">
 <label for="end_date">END</label>
 <%= to_do_post.end_date %>
</div>
<% end %>

