<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-md-5">
      <h3><%= @user.last_name %>
      <%= @user.first_name %>さんの会員情報</h3>
      <div class="form-group">
        <h5>会員IO</h5>
        <%= @user.id %>
      </div>
      <div class="form-group">
        <h5>氏名</h5>
        <%= @user.last_name %>&nbsp;<%= @user.first_name %>
      </div>
      <div class="form-group">
        <h5>フリガナ</h5>
        <%= @user.last_name_kana %>&nbsp;<%= @user.first_name_kana %>
      </div>
      <div class="form-group">
        <h5>ニックネーム</h5>
        <%= @user.nickname %>
      </div>
      <div class="form-group">
        <h5>want you remove</h5>
        <%= @user.purpose %>
      </div>
      <div class="form-group">
        <h5>メールアドレス</h5>
        <%= @user.email %>
      </div>

      <div class="form-group">
        <h5>会員ステータス</h5>
        <% if @user.is_deleted == false %>
         <span>有効</span>
        <% else %>
         <span>退会</span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <%= link_to"編集する", edit_admin_user_path(@user.id), class:'btn btn-success' %>
    </div>
    <!--<div class="col-auto">-->
    <!--  %= link_to"投稿一覧を見る" %>-->
    <!--</div>-->
    </div>
  </div>
</div>
