<h2>投稿編集画面</h2>
<%= form_with model: @todopost, url:public_to_do_post_path, method: :patch do |f| %>
<div class="form-group">
  <%= f.label :Title %></br>
  <%= f.text_field :title, autofocus: true, id:"inputtitle", placeholder:"タイトル" %>
</div>
<div>
  <%= f.label :"内容" %></br>
  <%= f.text_area :description, autofocus: true, id:"inputdescription", placeholder:"投稿内容を書く" %>
</div>
<div class="form-group">
  <%= f.label :START %>
  <%= f.date_field :start_date, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :END %>
  <%= f.date_field :end_date, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.radio_button :status, :true %>
  <%= f.label :status, "達成" %>
  <%= f.radio_button :status, :false %>
  <%= f.label :status, "未達成" %>
</div>
<div class="form-group">
  <%= f.submit"変更を保存" %>
</div>
<% end %>
