<div class="col-md-3">
  <h2>Login User</h2>
  <% if user.profile_image.attached? %>
   <%= image_tag user.get_profile_image(100,100) %>
  <% else %>
   <%= image_tag'no_image.jpg' %>
  <% end %>

  <table class="table">
    <tbody>
      <tr>
        <th>名前</th>
        <th><%= user.full_name %></th>
      </tr>
      <tr>
        <th>ニックネーム</th>
        <th><%= user.nickname %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <%= link_to user_path(user.id), class:"btn btn-outline-secondary btn-block" do %>
     <i class="fas fa-user-cog"></i><%= "マイページ" %>
    <% end %>
    <%= link_to new_to_do_post_path, class:"btn btn-outline-secondary btn-block" do %>
     <i class="fas fa-plus-circle"></i><%= "新規投稿" %>
    <% end %>
    <%= link_to destroy_user_session_path, class:"btn btn-outline-secondary btn-block", method: :delete do %>
     <i class="fas fa-sign-out-alt"></i><%= "ログアウト" %>
    <% end %>
    <%= link_to to_do_posts_path, class:"btn btn-outline-secondary btn-block" do %>
     <i class="fas fa-book-open"></i><%= "投稿一覧" %>
    <% end %>
  </div>

</div>