<div class="conttainer">
  <div class="row">
    <div class="col-sm-12 col-lg-7 px-5 px-sm-0 mx-auto">
      <h2>ユーザー情報編集画面</h2>
      <%= form_with model: @user, url:users_information_path(@user), method: :patch do |f| %>
      <table class="table table-borderless">
        <thead>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>名前</td>
            <td><%= f.text_field :last_name, autofocus:true, id:"inputName", placeholder:"姓" %></td>
            <td><%= f.text_field :first_name, autofocus:true, id:"inputName", placeholder:"名" %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :last_name_kana, autofocus:true, id:"inputName_kana", placeholder:"セイ" %></td>
            <td><%= f.text_field :first_name_kana, autofocus:true, id:"inputName_kana", placeholder:"メイ" %></td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td><%= f.text_field :nickname, autofocus:true, id:"inputNickname", placeholder:"ニックネーム", style: "width:100%"  %></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= f.text_area :introduction, autofocus:true, id:"inputPurpose", placeholder:"自己紹介", style: "width:100%" %></td>
          </tr>

          <tr>
            <td>目的</td>
            <td><%= f.text_area :purpose, autofocus:true, id:"inputPurpose", placeholder:"お酒を辞めたい、タバコをやめたいなど" %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email, autofocus:true, id:"inputEmail", placeholder:"address@email.com" %></td>
          </tr>
          <tr>
            <td>プロフィール画像</td>
            <td><%= f.file_field :profile_image, placeholder:"プロフィール画像", accept: "image/*" %></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= f.submit"編集内容を保存", class:"btn btn-primary" %>
            </td>
            <td><%= link_to"退会する", users_unsubscribe_path, class:"btn btn-danger" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>






