<div class="cover-user-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">フォロワー一覧</h1>
    </div>
    <div class="row justify-content-center">
      <% @users.each do |user| %>
      <div class="one-post card w-100">
        <%= link_to public_user_path(user) do %>
        <p class="caption h4"><%= user.nickname %></p>
        <div class="d-flex">
          <% if user.profile_image.attached? %>
           <%= image_tag user.get_profile_image(50,50), class:"mb-3 mt-2 ml-3 profile_image" %>
          <% else %>
           <%= image_tag 'no_image.jpg', size:'50x50' %>
          <% end %>
        </div>
        <p class="caption"><%= "#{user.to_do_posts.count} 投稿" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @users %>
  </div>
</div>